@charset "utf-8";
/* CSS Document */
body{
	background-color:#FFF;
	font-family:Monaco,Consolas,'Lucida Grande','Lucida Console';
	font-size:16px;
	text-shadow:rgba(0,0,0,0.01) 0 0 0;
}
#wrapper{
	width:900px;
	margin:0 auto;
}
.content{
	width:900px;
	margin:5px;
	margin-top:60px;
	float:left;
}
/************************************************/
.signup_wrap{
	height:25px;
	width:100%;
	padding:5px;
}
.signin_form{
	float:right;
}
.signin_form input{
	width:80px;
}
.reg_form{
	width:460px;
	padding:20px;
	margin:0 auto;
	border:3px solid #DFDFDF;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbd4e5));
	background: -moz-linear-gradient(top,  #fff,  #cbd4e5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#cbd4e5');
}
.form_title,
.form_sub_title{
	font-size:20px;
	
	font-family:"Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
	font-size:20px;
	font-weight:bold;
}
.form_sub_title{
	font-weight:normal;
	padding:6px 0 15px 0;
}
.reg_form p{
	width: 300px;
	clear: left;
	margin: 0;
	padding: 5px 0 8px 0;
	padding-left: 155px; /*width of left column containing the label elements*/
	border-top: 1px dashed gray;
	height: 1%;
}
.reg_form label{
	font-weight: bold;
	float: left;
	margin-left: -155px; /*width of left column*/
	width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
}
input{
	padding:3px;
	color:#333333;
	border:1px solid #96A6C5;
	margin-top:2px;
	width:180px;
	font-size:11px;
}
.greenButton{
	width:auto;
	margin:10px 0 0 2px;
	padding:3px 4px 3px 4px;
	color:white;
	background-color:#589d39;
	outline:none;
	border:1px solid #006600;
	font-weight:bold;
}
.greenButton:active{
	background-color:#006600;
	padding:4px 3px 2px 5px;
}
.error{
	color:#F00;
}
#footer{
	color:#000000;
	padding-top:20px;
	text-align:center;
	height: 20px;
	clear:both;
}

.img_list{height: auto; width: auto; max-width: 280px; max-height: 180px;}
.img_recomm{height: auto; width: auto; max-width: 210px; max-height: 135px;}
.img_detail{height: auto; width: auto; max-width: 590px; max-height: 400px;}

.btn{position: relative;overflow: hidden;margin-right: 4px;display:inline-block; 
*display:inline;padding:4px 10px 4px;font-size:14px;line-height:18px; 
*line-height:20px;color:#fff; 
text-align:center;vertical-align:middle;cursor:pointer;background:#5bb75b; 
border:1px solid #cccccc;border-color:#e6e6e6 #e6e6e6 #bfbfbf; 
border-bottom-color:#b3b3b3;-webkit-border-radius:4px; 
-moz-border-radius:4px;border-radius:4px;} 
.btn input{position: absolute;top: 0; right: 0;margin: 0;border:solid transparent; 
opacity: 0;filter:alpha(opacity=0); cursor: pointer;} 
.progress{position:relative; margin-top:10px;  
width:200px;padding: 1px; border-radius:3px; display:none} 
.bar {background-color: green; display:block; width:0%; height:20px;  
border-radius:3px; } 
.percent{position:absolute; height:20px; display:inline-block;  
top:3px; left:2%; color:#fff } 
.files{height:22px; line-height:22px; margin:10px 0} 
.delimg{margin-left:20px; color:#090; cursor:pointer}
.img_post{height: auto; width: auto; max-width: 200px; max-height: 200px;}